/*  your css code here. If applicable */
* {
	box-sizing: border-box;
}
body {
	background-color: rgb(204, 204, 204);
	margin: 0;
}
.text-center {
	text-align: center;
}
.song-list {
	margin: 0;
}
.song-list li {
	list-style: none;
}
.song-list li a {
	text-decoration: none;
	color: #000;
}
.border-box, .player_one, .player_two {
	padding: 15px;
	background-color: rgba(255,255,255);
	border-radius: 10px;
}
.player_one, .player_two {
	width: 100%;
}